{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" type="image/png" href="/icon.png" />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>Bankist</title>
  </head>
  <body>
    <!-- TOP NAVIGATION -->
    <nav>
        {% if user_data %}
            <p class="welcome">Welcome, {{user_data.username}}</p>
        {% else %}
            <p class="welcome">Log in to get started</p>
        {% endif %}
      <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo" />
      <form class="login" action="account" method="POST">
        {% for transaction in transactions %}
        <p class="error_message">
        {{transaction.amount}}
        </p>
        {% endfor %}
        {% csrf_token %}
        {% for message in messages %}
          {% if message|stringformat:"s" != "201" %}
            <p class="error_message">
              * {{message}}
            </p>
            {% endif %}
        {% endfor %}
        <input
          type="text"
          name="username"
          placeholder="user"
          class="login__input login__input--user"
        />
        <!-- In practice, use type="password" -->
        <input
          type="text"
          placeholder="PIN"
          name="password"
          autocomplete="false"
          maxlength="4"
          class="login__input login__input--pin"
        />
        <button class="login__btn" type="submit">&rarr;</button>
      </form>
    </nav>
    {% if messages %}
      {% for message in messages %}
        {% if message|stringformat:"s" == "201" %}
              <main class="app">
        {% else %}
          <main class= "app hidden">
        {% endif %}
      {% endfor %}
    {% else %}
            <main class = "app hidden">
    {% endif %}
      <!-- BALANCE -->
      <div class="balance">
        <div>
          <p class="balance__label">Current balance</p>
        </div>
        {% if user_data %}
            <p class="balance__value">₹{{ user_data.balance }}</p>
        {% endif %}
      </div>

      <!-- MOVEMENTS -->
      <div class="movements">

        {% for transaction in transactions %}
            <div class="movements__row">
                <div class="movements__type movements__type--{{transaction.type}}">{{transaction.type}}</div>
                <div class="movements__value">₹{{transaction.data.amount}}</div>
            </div>
        {% endfor %}
      </div>


      <!-- OPERATION: TRANSFERS -->
      <div class="operation operation--transfer">
        <h2>Transfer money</h2>
        <form class="form form--transfer" method="POST" action="maketransaction">
          {% csrf_token %}
          <input type="text" class="form__input form__input--to" name="touser" />
          <input type="number" class="form__input form__input--amount" name="amount" />
          <button class="form__btn form__btn--transfer" type="submit">&rarr;</button>
          <label class="form__label">Transfer to</label>
          <label class="form__label">Amount</label>
        </form>
      </div>

      <!-- OPERATION: LOAN -->
      <div class="operation operation--loan">
        <h2>Request loan</h2>
        <form class="form form--loan" method="POST" action="getloan" >
          {% csrf_token %}
          <input type="number" class="form__input form__input--loan-amount" name="amount"/>
          <button class="form__btn form__btn--loan" type="submit">&rarr;</button>
          <label class="form__label form__label--loan">Amount</label>
        </form>
      </div>

      <!-- OPERATION: CLOSE -->
      <div class="operation operation--close">
        <h2>Debit card</h2>
        {% if user_data.debitcard_holder %}
            <form class="form form--close">
            <div class="credit_card">
                <label class="form__label"><b>Card No.: </b>{{debitcard.card_no}}</label>
                <label class="form__label"><b>CVV: </b>{{debitcard.cvv}}</label>
            </div>
            </form>
        {% else %}
            <form class="form form--close" method="POST" action="getdebitcard">
                {% csrf_token %}
            <label class="form__label">Want a debit card?</label>
            <button class="form__btn form__btn--close" type="submit">Yes &rarr;</button>
            </form>
        {% endif %}
      </div>

      <!-- LOGOUT TIMER -->
      <p class="logout-timer">
        You will be logged out in <span class="timer">05:00</span>
      </p>
    </main>
    <script src="{% static 'script2.js' %}"></script>
    
  </body>
</html>
